<html>
    <head>
        <title>ab-web-portal</title>
        <meta charset="utf-8" \ />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" \ />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="bin/jquery.ajax-cross-origin.min.js"></script>
        <script type="text/javascript" src="/main.js"></script>
        <style>
            * {
                overflow: auto;
            }
            body,
            html {
                height: 100%;
                margin: 0;
            }
            body {
                font-family: 'Roboto', sans-serif;
                text-align: center;
            }
            header {
                text-align: center;
            }
            h1 {
                color: darkblue;
                display: inline;
            }
            h2 {
                color: darkblue;
                display: inline;
            }
        </style>
    </head>
    <body>
        <div class="selection">
            <form id="upload-info" enctype="multipart/form-data">
                <div class="selection-target">
                    <div class="selection-wording">
                        <h1>Select target to save vod contents :</h1>
                    </div>
                    <div class="selection-dropbox">
                        <select id="target-storage" name="vodFile">
                            <% var options = ["S3", "EFS"]; %>
                            <% for(var i = 0; i <= options.length-1; i++) { %>
                              <option value='<%= options[i] %>'><%= options[i] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="selection-file">
                    <div class="selection-wording">
                        <h1>Browse file for uploading : </h1> 
                        <input class="file-box" type="file" id="vod-file-tag0" name="vodFile">
                    </div>
                    <div class="selection-btn">
                        <button class="submit-btn" type="button" onclick="uploadFile();">Upload</button>
                    </div>   
                </div>
            </form>
        </div>
        <div class="contents-list">
            <div class="contents-list-efs">
                <div class="contents-list-efs-title">
                    <h2>VOD Contents list from EFS</h2> 
                    <button type="button" id="refresh-btn" class="refresh-btn" onclick="refreshEFSList();">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                        </svg>
                    </button>
                </div>
                <div class="contents-list-efs-items">
                    <ul id="efs-mylist" class="mylist">
                        <script>
                            refreshEFSList()
                        </script>
                    </ul>
                </div>
            </div>
            <div class="contents-list-s3">
                <h2>VOD Contents list from S3</h2>
                <button type="button" id="refresh-btn" class="refresh-btn" onclick="refreshS3List();">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                    </svg>
                </button>
                <div class="contents-list-s3-items">
                    <ul id="s3-mylist" class="mylist">
                        <script>
                            refreshS3List()
                        </script>
                    </ul>
                </div>
            </div>
        </div>
        <div class="selection-btn">
            <button class="submit-btn" type="button" onclick="loadTestToEFS();">Load Test of EFS Service</button>
        </div>
        <div class="selection-btn">
            <button class="submit-btn" type="button" onclick="loadTestToS3();">Load Test of VOD Service</button>
        </div>   
    </body>
</html>